body {
  margin:0;
  background-color: #444;
}
#title {
  color:#444;
  text-align: center;
  font-size:28px;
  font-family: fantasy;
  padding:10px 0px 5px 0px;
  width:100%;
  background-color: #ddd;
}

#title a {
  display:block;
  text-decoration: none;
  color: #444;
}

#menu-box {
  width:100%;
  background-color: #333;
  height:40px;
}

#menu{
  width: 100%;
  max-width:960px;
  margin: 0 auto;
  padding: 0;
}
#menu li{
  display:block;
  float:left;
  width: 12.5%;
  margin: 0;
  padding: 0;
}
#menu li a{
  display:block;
  padding: 9px 0 8px;
  background-color: #333;
  color:#fff;
  text-align: center;
  text-decoration: none;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  font-family:Comic Sans MS;
}
#menu li a:hover{
  background-color: #777;
}
#toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  #menu li {
    width: 25%;
    border-bottom: 1px solid #444;
  }
}
@media only screen and (max-width: 480px) {
  #menu {
    display:none;
  }
  #menu li{
    width: 100%;
    border-bottom: 1px solid #555;
  }
  #menu li a {
    background-color: #444;
  }
  #toggle{
    display: block;
    position: relative;
    width: 100%;
    background-color: #333;
    font-weight: bold;
  }
  #toggle a {
    display: block;
    position: relative;
    padding: 12px 0px 10px;
    border-bottom: 1px solid #555;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family:Comic Sans MS;
  }
  #toggle:before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10%
    width:20%;
    height:20px;
    margin-top: -10px;
    background-color: #fff;
  }
  #toggle a:before, #toggle a:after {
    display:block;
    content: "";
    position: absolute;
    top: 50px;
    left: 50%;
    left: 10px;
    width: 20px;
    height: 4px;
    background-color: #fff;
  }
  #toggle a:before {
    margin-top: -35px;
  }
  #toggle a:after {
    margin-top:-27px;
  }
}
