#content {
  width:100%;
  margin:0 auto;
  padding:0;
}
.box {
  width:33.3%;
  height:200px;
  float:left;
}
.box_main a {
  text-decoration: none;
  display:block;
  color:#fff;
}

.box_main {
  padding-top: 25px;
  margin-bottom: -25px;
  text-align: center;
  font-family:Comic Sans MS;
  font-size:32px;
  font-weight: bold;
}
.box_main img {
  margin-bottom: -29px;
}
.box_sub1 , .box_sub2{
  color:#fff;
  font-size:20px;
  font-family:Comic Sans MS;
}
.box_sub1 ul li, .box_sub2 ul li {
  margin-bottom:5px;
}
.box_sub1 ul li a , .box_sub2 ul li a{
  text-decoration: none;
  color:#fff;
}
.box_sub1 ul li a:hover, .box_sub2 ul li a:hover{
  color:#eee;
  font-size:21px;
}

.box_outer{
  width:100%;
  height:200px;
}
.box_inner {
  width:100%;
  max-width: 960px;
  margin:0 auto;
  padding:0;
}
#box1   {background-color: #444;}
#box1-1 {background-color: #3949ad;}
#box1-2 {background-color: #4251b1;}
#box1-3 {background-color: #4b5aba;}
#box2   {background-color: #404040;}
#box2-1 {background-color: #2980b9;}
#box2-2 {background-color: #378ec7;}
#box2-3 {background-color: #3c96d1;}
#box3   {background-color: #444;}
#box3-1 {background-color: #16a085;}
#box3-2 {background-color: #1fa68b;}
#box3-3 {background-color: #2fb097;}
#box4   {background-color: #404040;}
#box4-1 {background-color: #f39c12;}
#box4-2 {background-color: #f4a62c;}
#box4-3 {background-color: #f6b041;}
#box5   {background-color: #444;}
#box5-1 {background-color: #e67e22;}
#box5-2 {background-color: #eb852b;}
#box5-3 {background-color: #f4933e;}
#box6   {background-color: #404040;}
#box6-1 {background-color: #c0392b;}
#box6-2 {background-color: #c1463a;}
#box6-3 {background-color: #c25247;}
#box7   {background-color: #444;}
#box7-1 {background-color: #8e44ad;}
#box7-2 {background-color: #934ab1;}
#box7-3 {background-color: #9b4fba;}
#box8   {background-color: #404040;}
#box8-1 {background-color: #2c3e50;}
#box8-2 {background-color: #36485b;}
#box8-3 {background-color: #3d4f61;}

fotter {
  width:100%;
  height:50px;
  background-color: #222;
  float:left;
}

@media only screen and (max-width: 768px) {
  .box {
    width:50%;
  }
  .box_sub1 {
    display:none;
  }
}
@media only screen and (max-width: 480px) {
  .box {
    width: 100%;
  }
  .box_sub2 {
    display:none;
  }
}
