#content {
  width:100%;
  max-width:960px;
  margin:0 auto;
  padding:0;
}
.box {
  width:33.3%;
  background-color: #fff;
  height:200px;
  float:left;
}
.box_main {
  padding-top: 25px;
  margin-bottom: -25px;
  text-align: center;
  font-family:Comic Sans MS;
  font-size:32px;
  font-weight: bold;
  color:#fff;
}
.box_main img {
  margin-bottom: -29px;
}
.box_sub {
  color:#333;
  font-size:20px;
  font-family:Comic Sans MS;
}
.box_sub ul li {
  margin-bottom:5px;
}
.box_sub ul li a {
  text-decoration: none;
  color:#333;
}
#box1-1 {background-color: #064c65;}
#box1-2 {background-color: #6aa4b8;}
#box1-3 {background-color: #76afc6;}
#box2-1 {background-color: #176a45;}
#box2-2 {background-color: #5ac193;}
#box2-3 {background-color: #6ccfa2;}
#box3-1 {background-color: #e4b50a;}
#box3-2 {background-color: #ebd96b;}
#box3-3 {background-color: #eee084;}
#box4-1 {background-color: #de7a04;}
#box4-2 {background-color: #f1b55c;}
#box4-3 {background-color: #eeba6b;}
#box5-1 {background-color: #9f250a;}
#box5-2 {background-color: #e68b77;}
#box5-3 {background-color: #eb9886;}
#box6-1 {background-color: #831872;}
#box6-2 {background-color: #d789ca;}
#box6-3 {background-color: #da95cf;}
#box7-1 {background-color: #3f0e77;}
#box7-2 {background-color: #b98bf0;}
#box7-3 {background-color: #c59ef0;}
#box8-1 {background-color: #282828;}
#box8-2 {background-color: #a3a2a2;}
#box8-3 {background-color: #b0adad;}

#fotter {
  width:100%;
  height:50px;
  background-color: #222;
  float:left;
}
