#countent_title {
  width:100%;
  height:5px;
  max-width: 960px;
  margin:0 auto;
  padding:0;
}
#content_inner {
  background-color:#ddd;
  max-width: 960px;
  margin:0 auto;
  padding:0;
}
#content_title {
  width:100%;
  padding-top:20px;
  padding-left:3%;
  color:#555;
  font-size:22px;
  font-family: 'メイリオ';
  margin-bottom:-8px;
  float:left;
}
#content_title img {
  height:34px;
  float:left;
}
#title_inner {
  float:left;
  width:80%;
  padding-left:10px;
  padding-top:2px;
}
#ctitle_line1 {
  width:96%;
  margin-left:2%;
  height:2px;
  background-color: #555;
  float:left;
}
#ctitle_line2 {
  width:96%;
  margin-left:2%;
  margin-top:1px;
  height:1px;
  background-color: #666;
  float:left;
}
#cntnt {
  width:90%;
  float:left;
  padding-left:5%;
  padding-top:20px;
  color:#666;
  font-size:16px;
  font-family: "メイリオ";
}

@media only screen and (max-width: 480px) {
  #content_title {
    font-size:18px;
    margin-bottom: -5px;
  }
  #content_title img {
    height:30px;
  }
  #cntnt {
    font-size:14px;
  }
}

#source_title {
  width:98%;
  padding:5px 0px 5px 20px;
  background-color:#bdc1c9;
  color:#444;
  font-weight: bold;
}

#source {
  width:98%;
  background-color: #d4d6d7;
  padding:20px 0px 20px 20px;
  font-size:14px;
}

#list {
  font-size:22px;
  color:#fff;
  background-color: #3d4557;
  padding:5px;
  padding-left:15px;
  border-radius: 0px;
}
