#countent_title {
  width:100%;
  height:5px;
  max-width: 960px;
  margin:0 auto;
  padding:0;
}

.content_outer {
  width:100%;
  height:80px;
  float:left;
}

#couter1 {background-color: #444;}
#couter2 {background-color: #404040;}

.content_inner {
  width:100%;
  height:80px;
  max-width: 960px;
  margin:0 auto;
  padding:0;
}

.content_inner a {
  text-decoration: none;
  height:80px;
  display:block;
  font-size:20px;
}

.content_inner a:hover {
  font-size: 21px;
}

#arrow {
  padding-top:30px;
  padding-left:30px;
  height:20px;
  float:left;
}

#in {
  float:left;
  padding-left:20px;
  padding-top:26px;
  font-family: "メイリオ";
  color:#555;
  width:80%
}

@media only screen and (max-width: 480px) {
  .content_outer {
    height:75px;
  }
  .content_inner {
    height:75px;
  }
  #in {
    font-size:16px;
    padding-top:17px;
  }
  #arrow {
    padding-top:28px;
    height:20px;
  }
}
